<h1>Team</h1>

<div>
  <ul>
      <li>Guy</li>
      <div id="pic">
          <img src ="images/Guy.png">
      </div>
      <li>Michelle</li>
      <div id="pic">
        <img src ="images/Michelle.png">
      </div>
      <li>Liz</li>
      <div id="pic">
        <img src ="images/Liz.png">
      </div>
  </ul>
</div>
