/*
 * TODO: add custom styling
 */

.column {
  -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
}

#splash{
  background-color: blue
}

#pic img {
    border: 1px solid #ddd;
     border-radius: 4px;
     padding: 5px;
     width: 150px;
}
